body {
    background: #f4f3f3;
}

.container {
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
    font-family: "Work Sans", Helvetica, sans-serif;
    color: #212121;
}

a {
    color: #379a8e;
}

h1 {
	text-align: center;
	font-weight: 500;
	font-size: 4em;
	margin: .5em auto 0.15em;
}

#footer {
    width: 100%;
    height: 15px;
}